{{#if eaters.length}}
  <ul>{{#each eaters}}<li>
    <a href="https://lunch.tableflip.io/eater/{{_id}}" title="{{score this}}: {{name}}">
      <img src="{{avatar this}}"/>
    </a>
  </li>{{/each}}</ul>
{{else}}
  <div class="spinner" title="Loading"></div>
{{/if}}
